.MapMarker {
    text-align: left;
    border: 1px solid #444444;
    background: white;
    color: #1c17b5;
    box-shadow: 6px 6px #444444;
    padding: 10px;
    width: 120px;
    font-size: 1.2em;
    z-index: 100;
  }
  